<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HELLO WORLD</h1></br>
<h3 th:text="${Name}"></h3>
<h3 th:text="${Date}"></h3>
</body>
</html>