<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un client</title>
    <link th:href="@{../assets/css/style1.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header2::top-nav"></div>

<h1>Ajouter un client</h1>

<br>
<form method="post" th:action="@{/customer/save}" th:object="${customer}" action="#">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputLastName">Nom</label>
            <input required th:field="*{lastName}" type="text" class="form-control"
                   id="inputLastName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputFirstName">Prénom(s)</label>
            <input required th:field="*{firstName}" type="text" class="form-control"
                   id="inputFirstName">
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input required type="email" th:field="*{email}" class="form-control"
                   id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label class="label-control">Date de creation</label>
            <input type="date" class="form-control" th:field="*{createDate}"/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Adresse</label>
            <select id="inputAddress" th:field="*{addressId}" class="form-control">
                <option th:each="address : ${addresses}"
                        th:value="${address.addressId}"
                        th:text="${address.address}"></option>
            </select>
        </div>

    </div>
    </div>

    <br>

    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" th:field="*{active}" th:checked="${customer.active}">
                Activer le client
                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-success pull-right">Enregistrer</button>

</form>


<footer th:replace="fragments/footer2::footer"></footer>
</body>
</html>