<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Thymeleaf - Customer</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header::top-nav"></div>


<input type="text" placeholder="rechercher">
<button type="submit">Search</button>
</form>

</br>
</br>
<table class="table table-hover">

    <thead class="text-warning">
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    </thead>
    <tbody>
    <tr th:each="staff:${all}">
        <td th:text="${staff.firstName}"></td>
        <td th:text="${staff.lastName}"></td>
        <td th:text="${staff.email}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="fragments/footer::footer"></footer>


</body>
</html>