<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Thymeleaf - Customer</title>
    <link th:href="@{/css/style1.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header::top-nav"></div>


<h1> Liste des clients: <span th:text="${customerCount}"></span></h1>
<form method="post" th:action="@{/customer/doSearchNames}" th:object="${searchNames}"
>
    <input required th:field="*{firstname}"
           th:value="${searchNames.firstname}" type="text" placeholder="rechercher">
    <button type="submit">Search</button>
</form>

</br>
</br>
<table class="table table-hover">

    <thead class="text-warning">
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    <th>District</th>
    <th>Code Postal/th>
    </thead>
    <tbody>
    <tr th:each="customer:${allCustomer}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address.district}"></td>
        <td th:text="${customer.address.postalCode}"></td>
        <td><a th:href="${'/customer/'+customer.customerId}">Detail</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="fragments/footer::footer"></footer>


</body>
</html>