<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header::top-nav"></div>

<h2>Detail du customer: <span th:text="${customer.getCustomerId()}"></span></h2>
<p>Prénom: <span th:text="${customer.lastName}"></span></p>
<p>Nom: <span th:text="${customer.firstName}"></span></p>
<p>Email: <span th:text="${customer.email}"></span></p>
<p>Addresse: <span th:text="${customer.getAddress().getAddress()}"></span></p>
<p>Ville: <span th:text="${customer.getAddress().getDistrict()}"></span></p>
<p>Pays: <span th:text="${customer.getAddress().getPostalCode()}"></span></p>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>